@page
@model TeachersListModel
@{
}

<h2>Teachers List</h2>

@Html.ActionLink("Create New Teacher", "CreateTeacher", "Teachers", null, new { @class = "btn btn-success text-end", @style = "float:right;" })

<table class="table">
    @if (Model.Teachers.Count() == 0)
    {
        <tbody>
            <tr>
                <td>
                    No Teacher Found!
                </td>
            </tr>
        </tbody>
    }
    else
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Teachers.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Teachers.First().Subject)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model.Teachers)
            {
                <tr>
                    <td>
                        @teacher.Name
                    </td>
                    <td>
                        @teacher.Subject
                    </td>
                    <td>@Html.ActionLink("Edit", "UpdateTeacher", "Teachers", new {id=teacher.Id }, new { @class="btn btn-warning"})</td>
                </tr>
            }

        </tbody>
    }

</table>
